<?xml version="1.0" encoding="UTF-8"?>  
<configuration>  
	
	<!-- 彩色日志依赖渲染类 -->
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <!-- 彩色日志的格式 -->
	<property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
    <!-- 定义日志文件输出目录 -->
	<property name="LOG_HOME" value="/app/zk-lock/info/logs"/>
	
	<!-- 输出到控制台 -->
	<springProfile name="dev">
	    <appender name="LOG" class="ch.qos.logback.core.ConsoleAppender">
	        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
	            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
	            <ImmediateFlush>false</ImmediateFlush>
	            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
	            <charset>utf-8</charset>
	        </encoder>
	    </appender>
    </springProfile>
    
    <springProfile name="prod">
	    <appender name="LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
	        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
	        	<fileNamePattern>${LOG_HOME}/application-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
	            <maxHistory>30</maxHistory>
	            <maxFileSize>100MB</maxFileSize>
	        </rollingPolicy>
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<!-- 是否打开缓冲 -->
	<!--             <ImmediateFlush>false</ImmediateFlush> -->
	            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
	            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{50} - %msg%n</pattern>
	        </encoder>
	    </appender>
	 </springProfile>
    
    <root level="info">  
        <appender-ref ref="LOG"/>  
    </root>  
    
</configuration> 